
# debug
# dependencies
# local env files
# local scratch
# misc
# next.js
# production
# test
# typescript
# vercel
*.pem
*.tsbuildinfo
.DS_Store
.env
.env*.local
.vercel
/.next/
/build
/node_modules
/out/
build.log
coverage
dev.log
next-env.d.ts
npm-debug.log*
yarn-debug.log*
yarn-error.log*
zzz.txt
